version: '3'

services:
  # Chatwood
  base: &base
    image: chatwoot/chatwoot:latest
    env_file: .env 
    volumes:
      - storage_data:/app/storage
    networks:
      - local_net

  rails:
    <<: *base
    depends_on:
      - postgres
      - redis
    ports:
      - '3000:3000'
    environment:
      - NODE_ENV=production
      - RAILS_ENV=production
      - INSTALLATION_ENV=docker
    entrypoint: docker/entrypoints/rails.sh
    command: ['bundle', 'exec', 'rails', 's', '-p', '3000', '-b', '0.0.0.0']
    restart: always
    networks:
      - local_net

  sidekiq:
    <<: *base
    depends_on:
      - postgres
      - redis
    environment:
      - NODE_ENV=production
      - RAILS_ENV=production
      - INSTALLATION_ENV=docker
    command: ['bundle', 'exec', 'sidekiq', '-C', 'config/sidekiq.yml']
    restart: always
    networks:
      - local_net

  postgres:
    image: pgvector/pgvector:pg16
    restart: always
    ports:
      - '5432:5432'
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=chatwoot
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=password
    networks:
      - local_net

  redis:
    image: redis:alpine
    restart: always
    command: ["sh", "-c", "redis-server --requirepass \"$REDIS_PASSWORD\""]
    env_file: .env
    volumes:
      - redis_data:/data
    ports:
      - '6379:6379'
    networks:
      - local_net

  # N8N serice 
  n8n:
    image: n8nio/n8n:latest
    container_name: n8n
    restart: unless-stopped
    ports:
      - "5678:5678"
    networks:
      - local_net
    volumes:
      - n8n_data:/home/node/.n8n
    env_file:
      - .env

  # Evolution
  evolution-api:
    image: atendai/evolution-api:v2.1.1
    container_name: evolution_api
    restart: unless-stopped
    ports:
      - "8080:8080"
    networks:
      - local_net
    volumes:
      - evolution_instances:/evolution/instances
    env_file:
      - .env
    depends_on:
      - postgres_evolution
      - redis

  postgres_evolution:
    image: postgres:16
    restart: always
    command: ["postgres", "-p", "5434"]
    ports:
      - '5434:5434'
    networks:
      - local_net
    volumes:
      - postgres_evolution:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=evolution
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=password

networks:
  local_net:
    driver: bridge

volumes:
  n8n_data:
  #chatwood
  storage_data:
  postgres_data:
  redis_data:
  #evolution
  evolution_instances:
  postgres_evolution: